/*
 *
 * Configure the Design System in:
 * tailwind.config.js
 * not here =)
 */

/*
 * This project use Just-in-Time Mode and
 * utility classes can NEVER be dynamic values.
 *
 * For example, instead of:
 *    className={`text-${small ? 'sm' : 'lg'}`}
 * Use:
 *    className={small ? 'text-sm' : 'text-lg'}
 *
 * See more:
 * https://tailwindcss.com/docs/just-in-time-mode
 */

/*
 * Tailwind CSS has the Preflight
 * https://tailwindcss.com/docs/preflight
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Variables for [data-theme]
 * shared between Themes and Dark Mode
 */

:root {
  --text: theme('colors.black.DEFAULT');
  --background: theme('colors.background');
  --background-alt: theme('colors.white');
  --border-color: theme('colors.gray.light');
}

[data-theme~='dark'] {
  --text: theme('colors.white');
  --background: theme('colors.black.DEFAULT');
  --background-alt: theme('colors.black.dark');
  --border-color: theme('colors.black.dark');
}

[data-theme~='purple'] {
  --primary: theme('colors.purpleTheme.primary');
  --secondary: theme('colors.purpleTheme.secondary');
}

[data-theme~='orange'] {
  --primary: theme('colors.orangeTheme.primary');
  --secondary: theme('colors.orangeTheme.secondary');
}

[data-theme~='blue'] {
  --primary: theme('colors.blueTheme.primary');
  --secondary: theme('colors.blueTheme.secondary');
}

/*
 * Globals
 */

body {
  @apply font-roboto min-h-screen;
  color: var(--text);
  background-color: var(--background);
}

/*
 * Extending Tailwind CSS Components directive
 */

@layer components {
  /*
   * Dark Mode
   */

  .bg-light-dark-alt {
    background-color: var(--background-alt);
  }

  .border-light-dark {
    border-color: var(--border-color);
  }

  /*
   * Hover and Active Animation
   */

  .animate-hover {
    @apply transition transform motion-reduce:transform-none;
    @apply hover:scale-105 hover:brightness-110;
    @apply active:scale-95 active:brightness-90;
    @apply disabled:cursor-not-allowed disabled:opacity-40 disabled:hover:scale-100 disabled:hover:brightness-100;
  }

  /*
   * Link
   * Set the colors when using
   *
   * For example:
   * <a className="line-link ml-1 text-secondary border-secondary">
   * or
   * <button className="line-link mx-2 text-primary border-primary font-medium">
   */

  .line-link {
    @apply pb-px;
    @apply border-b border-solid;
    @apply animate-hover;
    @apply hover:border-transparent;
  }

  /*
   * Input
   */

  input {
    @apply px-6 h-14;
    @apply rounded-lg;
    @apply border border-solid border-light-dark;
    @apply bg-light-dark-alt;
  }

  /*
   * Textarea
   */

  textarea {
    @apply resize-none;
    @apply p-5;
    @apply w-full h-36;
    @apply rounded-lg shadow;
    @apply bg-light-dark-alt;
  }
}
